@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* { 
    margin: 0; 
    box-sizing: border-box; 
   } 

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Shared styles */

  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .display-flex {
    display: flex;
  }

  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
  }

  .section-title{
    font-size: 2.8rem;
    color:rgb(19, 19, 19)
  }

  .description{
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
    
  }

  main> section{
    padding-top: 130px;
    padding-bottom: 130px;
  }

  /* Font Styles */
  .dark-02{
    color: rgb(66, 66, 66);
  }
  .dark-03{
    color: rgb(114, 114, 114);
  }


  /* Header Styles */
  .header-style{
    padding: 45px 0;
  }

  /* Nav Styles */
  .brand {
    font-size: 3rem;
    font-weight: 700;
  }
  .nav-bar{
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }
  .nav-item{
    list-style: none;
    margin: 20px;
  }
  .nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* Banner Styles */
  .banner{
  }
  .banner-content{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 102px;
  }
  .banner-title{
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }
  .banner-image{
    max-width: 100%;
  }
  /* Team Section Styles */
  .team{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
  }
  .teams-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .feature{
    margin-left: 73px;
    max-width: 530px;
  }
 
  .quick-list{
    color:rgb(114, 114, 114);
    font-weight: 500;
    
  }
  .of-our{
    color:rgb(19, 19, 19)
    font-weight: 700;
  }
  .features{
    color:rgb(255, 144, 14);
    font-weight: 700; 
  }

/* Features You Section Styles */
.features-you{
  gap: 140px;
}
.features-you-title{
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 20px;
}
.features-content-box{
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.features-content-box-title {
  font-size: 20px;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 0px;
}
.features-btn {
  padding: 20px 20px;
  width: 342px;
  height: 200px;
  margin-top: -75px;
  margin-left: -100px;
}
.btn-text{
  font-size: 65px;
}


  /* Fact Section Styles */
  .fact-description{
    max-width: 540px;
  }
  .some-fact-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .fact-card{
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    padding: 45px 60px 36px 36px;
    text-align: center;
    width: 241px;
    height: 241px;
  }
  .fact-number{
    font-size: 45px;
    font-weight: 700;
  }
  .fact-name{
    font-size: 15px;
    color:rgb(114, 114, 114);
  }

  /* Sponsor section Styles */

  .sponsor-contents{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
  }
  .sponsor-logos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .sponsor-logo{
    filter: grayscale(100%);
  }


 footer {
  max-width: 1440px;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  text-align: center;
  margin: 0 auto;
  padding: 39px 410px;
}



  /* Responsive Styles */
  @media screen and (max-width:576px) {
    .nav-bar, .nav-links, .team, .features-you{
        flex-direction: column;
    }
    .teams-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    .feature{
            margin: 20px 10px;
          }

    .some-facts{
      padding: 10px;
    }
    .fact-description{
            max-width: 100%;
          
          }
    .some-fact-cards, .sponsor-logos{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      justify-items: center;

  }
  .features-btn {
    padding: 20px 20px;
    width: 342px;
    height: 200px;
    margin-top:  0px;
    margin-left: 0px;
  }
  .features-you{
    gap: 10px;
  }
  .features-you-images{
    max-width: 100%;
  }
 footer {
  max-width: 100%;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
}
/* Responsive for Tablet */
  @media screen and (min-width: 576px) and (max-width: 992px) {
    .team, .features-you{
        flex-direction: column;
    }
    .feature{
        margin: 50px auto;
      }
    .some-fact-cards, .sponsor-logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        
  }
  .features-btn {
    padding: 20px 20px;
    width: 342px;
    height: 200px;
    margin-top:  0px;
    margin-left: 0px;
  }
  }

